$brand-color-primary: #f2f2f2; //background grey

html, body{
	background: $brand-color-primary;
	margin: 0 auto;
	padding: 0;
}

.sidebar, .content{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.sidebar{
	width: 160px;
}

.content{
	width: calc(100% - 160px);
}
.ng-invalid.ng-dirty{
	border-color: #FA787E;
}

.ng-valid.ng-dirty{
	border-color: #78FA89;
}

.ng-submitted{
	input[type="text"], input[type="email"], select{
		&.ng-empty,.ng-invalid,.ng-invalid-required{
			border-color: #FA787E;	
		}
	}
}

.sex{

}