$brand-color-primary: #f2f2f2; //background grey
$brand-color-secondary: #bdccd4; //font light grey
$brand-color-tertiary: #353b45; //body blue
$brand-color-quaternary: #eaebec; //thead background grey
$brand-color-quinary: #414042; //thead color grey
$brand-color-white: #ffffff; //white

html, body{
	background: $brand-color-tertiary;
	margin: 0 auto;
	padding: 0;

}
#master{
	max-width: 1160px;
	margin: 60px auto;
	background: $brand-color-primary;
	border-radius: 60px;

}
.wrapper{
	padding: 0 30px;
	position: relative;
}
header{
	position: relative;
	background: $brand-color-white;
	border-radius: 40px 40px 0 0;
	.logo{
		width: 250px;
		height: 43px;
		background: url(../images/Viz-logo.svg) no-repeat;
		display: inline-block;
		margin: 15px 0 10px 0;
	}
	h1{
		position: absolute;
		right: 30px;
		top: 5px;
		color: $brand-color-secondary;
		font-size: 22px;
		line-height: 22px;
		margin-bottom: 10px;
	}
}

footer{
	position: relative;
	background: $brand-color-white;
	height: 60px;
	border-radius: 0 0 40px 40px;
}


#main{
	padding: 30px 0;
	.sidebar, .content{
		display: inline-block;
		vertical-align: top;
		margin: 0;
		padding: 0;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.sidebar{
		width: 160px;
	}

	.content{
		width: calc(100% - 160px);
	}
}


#table-wrapper{
	width: 100%;
	height: 590px;
	display: block;
	thead, tbody, tr{
		padding: 0;
		margin: 0;
		display: block;
	}

	td{
		display: inline-block;
		padding: 0;
		margin: 0;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		&.default-col{
			width: calc(33% - 36px);
		}
		
		&.id-col{
			width: 34px;
			text-align: center;
		}
		&.sex-col, &.teir-col{
			width: 40px;
			text-align: center;
		}
		img{
			display: block;
		}
	}
	thead{
		width: calc(100% - 7px);
		background: $brand-color-quaternary;
		color: $brand-color-quinary;
		td{
			height: 20px;
			button{
				padding: 0;
				margin: 0;
				background: transparent;
				border: 0;
				line-height: 10px;
				margin-left: 15px;
			}
			&.sex-col, &.teir-col{
				button{
					margin-left: 0;
				}
			}
		}
	}
	tbody{
		width: 100%;
		height: 570px;
		overflow-y: auto;   
    	overflow-x: hidden;
		&::-webkit-scrollbar {
		    -webkit-appearance: none;
		    width: 7px;
		}
		&::-webkit-scrollbar-thumb {
		    border-radius: 4px;
		    background-color: rgba(0,0,0,.5);
		    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
		}
		td{
			height: 42px;
			line-height: 40px;
			span{
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding-left: 15px;
			}
		}
	}
	
}

.ng-invalid.ng-dirty{
	border-color: #FA787E;
}

.ng-valid.ng-dirty{
	border-color: #78FA89;
}

.ng-submitted{
	input[type="text"], input[type="email"], select{
		&.ng-empty,.ng-invalid,.ng-invalid-required{
			border-color: #FA787E;	
		}
	}
}

