<div class="modal-header">
    <h3>Edit Player</h3>
</div>

<form name="userForm" ng-controller="PlayersController as reviewCtrl"   ng-submit="userForm.$valid  && reviewCtrl.updatePlayer()" novalidate>
	<div class="modal-fieldsets">
		
		<div class="modal-fieldset__full">
			<label for="firstname">First Name</label><!--
			--><input ng-model="selectedPlayer.firstname" type="text" name="firstname" required />
		</div>

		<div class="modal-fieldset__full">
			<label for="surname">Surname</label><!--
			--><input ng-model="selectedPlayer.surname" type="text" name="surname"  required />
		</div>

		<div class="modal-fieldset__half">
			<label for="sex">Gender</label><!--
			--><select ng-options="sex for sex in ['male', 'female']" ng-model="selectedPlayer.sex" name="sex" required>
				<option value="" selected disabled>Select Gender</option>
			</select>
		</div><!--
		--><div class="modal-fieldset__half">
			<label for="tier">Tier</label><!--
			--><select ng-options="tier for tier in ['bronze', 'silver', 'gold']" ng-model="selectedPlayer.tier" name="tier" required>
				<option value="" selected disabled>Select Tier</option>
			</select>
		</div>
		
		<div class="modal-fieldset__full">
			<label for="email">Email</label><!--
			--><input ng-model="selectedPlayer.email" type="email" name="email" required />
		</div>
		
	</div>

	<div class="modal-btns">
		<button type="submit" class="btn btn-grey" ng-disabled="form.userForm.$invalid">OK</button>
		<button class="btn btn-grey" ng-click="cancel()">Cancel</button>
	</div>
</form>
